.mamad {
  text-align: center;
}

.mamadOn {
  padding: 10px;
  margin-left: 20px;
  background-color: rgb(45, 165, 125);
  color: white;
  border-radius: 10px;
  border: none;
}

.mamadForm {
  text-align: center;
  padding-bottom: 30px;
}

.mamadDiv {
  text-align: center;
  padding-bottom: 20px;
}

.mamadInBeach {
  padding: 10px;
}

.mamadov {
  text-align: center;
  padding-top: 10px;
}